.card-read-more-2 {
    position: relative;
    padding: 10px;

    .content {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: calc(100% - 20px); // minus left and right padding
        top: 50%;
        transform: translateY(-50%);
        padding: 15px;
        transition: 0.3s ease;

        p {
            font-weight: 600;
        }

        @include media-breakpoint-up(md) {
            visibility: hidden;
            opacity: 0;
        }
    }

    .card-background-container {
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.4);
            
            @include media-breakpoint-up(md) {
                transition: 0.3s ease;
                background-color: rgba(0,0,0,0);
            }
        }
    }

    @include media-breakpoint-up(md) {
        &:hover {
            .card-background-container::before {
                background-color: rgba(0,0,0,0.4);
            }
    
            .content {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}