.feature-tile {
    
    .title {
        position: relative;
        white-space: pre-line;

        @include media-breakpoint-down(md) {
            margin-top: 300px;
            font-size: 2em;
        }

        @include media-breakpoint-up(md) {
            left: -20%;
            width: 105%;
        }
    }
    
    img {
        width: 90%;
        height: 300px;
        top: -20px;
        object-fit: cover;
        position: absolute;
        z-index: 1;

        @include media-breakpoint-up(md) {
            top: auto;
            width: 100%;
            height: auto;
            position: relative;
            z-index: 0;
        }
    }
    
    

    .flex-row-reverse {
        .title {
            text-align: right;
            left: auto;
            right: 0;
        }

        img {
            right: 0;
        }

        p {
            text-align: right
        }

        @include media-breakpoint-up(md) {

            .title {
                text-align: right;
                left: auto;
                right: -20%;
            }
        }
    }
}