footer {

    ul.footer-links {
        list-style-type: none;
        padding-left: 0;
        
        li {
            display: inline-block;
            text-transform: uppercase;
            border-right: 1px solid #000;
            padding: 0 10px;

            &:last-child {
                border-right: none;
            }
        }
    }

    .social-media {
        a {
            background-color: $primary;
            border-radius: 50%;

            height: 50px;
            width: 50px;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 10px;
            
            img {
                width: 50%;
                height: 50%;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}