.image-responsive {
    height: 400px;
    position: relative;

    .content {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    img.background {
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    .variant-technology {
        height: 500px;
    }
}