.text-by-image-tile {
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }

    .overlay-content {
        position: absolute;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
}