.white-gradient-header {
    position: relative;

    .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;

        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;

            background: none;
            background: linear-gradient(310deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.85) 70%, rgba(255,255,255,1) 100%);

            @include media-breakpoint-up(md) {
                background: linear-gradient(70deg, rgba(255,255,255,0) 57%, rgba(255,255,255,1) 75%);
            }
        }
    }
    
    &.variant-no-gradient {
        .content::before {
            display: none;
        }
    }

    img.background {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}