<a href="/blog-detail-page.html" class="card-article">
    <div class="card-main">
        <div class="content">
            <p class="w">Read more</p>
        </div>
        <img src="assets/img/tile-8.png" alt="" class="background">
    </div>
    <div class="card-title mt-2">
        <p class="bt2 p2">White Noise</p>
    </div>
    <svg class="card-nav-icon icon icon-l">
        <use xlink:href="img/icons/icons.svg#sprite-chevron-right" href="img/icons/icons.svg#sprite-chevron-right"></use>
    </svg>
</a>