@include font-face("Cereal", "../assets/fonts/AirbnbCereal-Light", 400, normal, ttf);
@include font-face("Cereal", "../assets/fonts/AirbnbCereal-Bold", 700, normal, ttf);
@include font-face("Cereal", "../assets/fonts/AirbnbCereal-ExtraBold", 900, normal, ttf);
