.w {
    color: #fff;
}

.bt1 {
    font-size: 26px;
    line-height: 32px;
}

.bt3 {
    font-size: 17px;
    line-height: 22px;
}

.p2 {
    color: #BFBFBF;
}

.bg-p2 {
    background-color: #BFBFBF;
}

.icon {
    display: inline-block;
    height: 30px;
    width: 30px;
}