<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Liber8{% if title|length %} - {{ title }}{% endif %}</title>
</head>

<body>

    <header>
        {% include "navigation.twig" %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer class="pt-3">
        {% include "footer.twig" %}
    </footer>

    {% block extras %}{% endblock %}
</body>

</html>