<div class="container text-center">
    <div class="social-media d-flex justify-content-end mb-3">
        <a href="http://www.facebook.com/ProjectLiber8">
            <img src="assets/img/facebook.svg" alt="facebook">
        </a>
        <a href="http://www.twitter.com/ProjectLiber8">
            <img src="assets/img/twitter.svg" alt="twitter">
        </a>
        <a href="http://www.instagram.com/ProjectLiber8">
            <img src="assets/img/instagram.svg" alt="instagram">
        </a>
        <a href="http://www.linkedin.com/ProjectLiber8">
            <img src="assets/img/linkedin.svg" alt="linkedin">
        </a>
    </div>
    
    <ul class="footer-links">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">ABOUT</a></li>
        <li><a href="/join-the-team.html">Join THE TEAM</a></li>
        <li><a href="/impact.html">IMPACT</a></li>
        <li><a href="/the-movement.html">THE MOVEMENT</a></li>
        <li><a href="/blog.html">BLOG</a></li>
    </ul>
    
    <p>Copyright &copy; 2019 PROJECT LIBER8. All rights reserved.</p>
</div>