<div class="hero-carousel">
    <div class="slide-item white-gradient-header">
        <div class="content text-left text-md-right p-3 py-5 p-md-5 d-flex flex-column align-items-start align-items-md-end justify-content-start justify-content-md-center">
            <h2 class="h1">Advoc8 On The Road</h2>
            <p class="lead p2">Inspiring the next wave of global changemakers</p>
        </div>
        <img src="assets/img/banner-1.jpg" alt="kid" class="background">
    </div>
    <div class="slide-item white-gradient-header">
        <div class="content text-left text-md-right p-3 py-5 p-md-5 d-flex flex-column align-items-start align-items-md-end justify-content-start justify-content-md-center">
            <h2 class="h1">Advoc8 On The Road</h2>
            <p class="lead p2">Inspiring the next wave of global changemakers</p>
        </div>
        <img src="assets/img/banner-2.jpg" alt="kid" class="background">
    </div>
</div>