$primary: #bab6b5;

$font-family-sans-serif: "Cereal", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$headings-font-weight: 900;
$headings-line-height: 1;

$display3-weight: 900;
$display4-weight: 900;

$lead-font-weight: bold;


// $input-btn-padding-y-lg: 20px;
// $input-btn-padding-x-lg: 20px;